{% load i18n %}

{% if app_list %}
    <ul class="metismenu list-unstyled" id="side-menu">
  {% for app in app_list %}
      <li class="menu-title">{{ app.app_label }}asdasd</li>
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
        {% for model in app.models %}
          <li>
            <a href="{{ model.admin_url }}" class="waves-effect">
                <i class="bx bx-list-ul"></i>
                <span>{{ model.name }}</span>
            </a>
          </li>
        {% endfor %}
    </div>
  {% endfor %}
    </ul>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
